<div id="site-content">
    
    <app-navbar />

    <main class="main-content">

        <div class="author-bio">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <figure class="profile-picture">
                            <img src="/dummy/person.jpg" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <h2>Hello, <br> I am Name Surname</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <ul class="person-detail">
                            <li><span class="icon"><img src="/images/icon-baby.png"></span>Born:
                                <strong>08.05.1985</strong></li>
                            <li><span class="icon"><img src="/images/icon-map-marker.png"></span>City: <strong>New
                                    York</strong></li>
                            <li><span class="icon"><img src="/images/icon-heart.png"></span>Favourites: <strong>Lorem
                                    ipsum, Dolor sit</strong></li>
                            <li><span class="icon"><img src="/images/icon-clock.png"></span>Experience: <strong>6
                                    years</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main> <!-- .main-content -->

    <app-footer />

</div>