<div id="site-content">
    <app-navbar />

    <main class="main-content">

        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <figure><img src="/dummy/single-food.jpg"></figure>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <h2 class="entry-title">Name of the recipe</h2>
                        <div class="recipe-meta">
                            <span class="time"><img src="/images/icon-time.png"> 40 min</span>
                            <span class="calorie"><img src="/images/icon-pie-chart.png"> 320 kcal</span>
                            <span class="comment"><img src="/images/icon-comment.png"> 16 comments</span>
                        </div>
                        <div class="ingredient">
                            <h3>Ingredients</h3>
                            <table>
                                <tr>
                                    <td><strong>150 g</strong></td>
                                    <td>Consectetur adipisicing</td>
                                </tr>
                                <tr>
                                    <td><strong>50 g</strong></td>
                                    <td>Elit sed do eiusmod tempor</td>
                                </tr>
                                <tr>
                                    <td><strong>70 g</strong></td>
                                    <td>Duis aute irure dolor</td>
                                </tr>
                                <tr>
                                    <td><strong>20 g</strong></td>
                                    <td>Deserunt mollit anim</td>
                                </tr>
                                <tr>
                                    <td><strong>300 g</strong></td>
                                    <td>Voluptatem accusantium</td>
                                </tr>
                                <tr>
                                    <td><strong>15 g</strong></td>
                                    <td>Dolorem eum fugiat</td>
                                </tr>
                                <tr>
                                    <td><strong>120 g</strong></td>
                                    <td>Consectetur adipisicing</td>
                                </tr>
                            </table>
                        </div>
                        <p>deleniti delectus quia, facilis accusamus. Illo officia repellat recusandae? Et veniam libero
                            laborum, officia, ullam enim dicta reprehenderit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quae consequatur soluta
                            deleniti delectus quia, facilis accusamus. Illo officia repellat recusandae? Et veniam
                            libero laborum, officia, ullam enim dicta reprehenderit. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Animi quae consequatur soluta deleniti delectus quia, facilis
                            accusamus. Illo officia repellat recusandae? Et veniam libero laborum, officia, ullam enim
                            dicta reprehenderit.</p>

                        <section class="comments">
                            <h3>Comments (3)</h3>
                            <ul class="comment-list">
                                <li class="comment">
                                    <footer>
                                        <img src="/dummy/avatar-1.jpg" class="avatar">
                                        <img src="/images/icon-user.png">
                                        <h4 class="fn">Sarah Smith</h4>
                                        <span class="date">17/08/2014</span>
                                    </footer>
                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate esse
                                            repellendus iusto vitae quasi nisi, illo totam saepe tempora quo, possimus
                                            quibusdam, debitis ullam itaque nesciunt, adipisci ab expedita assumenda?
                                        </p>
                                    </div>
                                </li>
                                <li class="comment">
                                    <footer>
                                        <img src="/dummy/avatar-2.jpg" class="avatar">
                                        <img src="/images/icon-user.png">
                                        <h4 class="fn">Susan Glenn</h4>
                                        <span class="date">17/08/2014</span>
                                    </footer>
                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
                                            voluptatibus aliquid officia quae quo. Architecto voluptates, inventore
                                            quisquam quia eaque pariatur quod, similique voluptatem tempora rem eius
                                            ipsa nesciunt? Eveniet?</p>
                                    </div>
                                </li>
                                <li class="comment">
                                    <footer>
                                        <img src="/dummy/avatar-3.jpg" class="avatar">
                                        <img src="/images/icon-user.png">
                                        <h4 class="fn">Patricia Brown</h4>
                                        <span class="date">17/08/2014</span>
                                    </footer>
                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique cumque
                                            illo ea culpa voluptatibus? Optio nulla dolor, provident voluptate quasi!
                                            Sequi odit libero, quibusdam suscipit aut tenetur in veritatis debitis?</p>
                                    </div>
                                </li>
                            </ul>

                            <div id="respond">
                                <h3>Leave a reply</h3>
                                <form action="#" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" placeholder="Your name...">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" placeholder="Email...">
                                        </div>
                                    </div>
                                    <textarea placeholder="Comments"></textarea>
                                    <input type="submit" value="Leave a reply">
                                </form>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>

    </main> <!-- .main-content -->

    <app-footer />

</div>