<footer class="site-footer">
    <div class="container">
        <i class="icon-cupcake logo"></i>
        <nav class="footer-navigation">
            <a routerLink="/about" >About me</a>
            <a routerLink="/offer" >My offer</a>
            <a routerLink="/recipe" >Recipes</a>
            <a routerLink="/contact" >Contact</a>
        </nav>
        <div class="subscribe">
            <form action="#">
                <input type="text" placeholder="Enter your email to join newsletter...">
                <input type="submit" value="Subscribe">
            </form>
        </div>
        <div class="social-links">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="colophon">
            <p>Copyright 2014 Company name. Designed by Themezy. All right reserved</p>
        </div>
    </div>
</footer>