<header class="site-header">
    <div class="container">
        <a href="/home" id="branding" class="pull-left">
            <i class="icon-cupcake logo"></i>
            <h1 class="site-title">Name Surname</h1>
        </a>
        <!-- Default snippet for navigation -->
        <div class="main-navigation pull-right">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item"><a routerLink="/about">About me</a></li>
                <li class="menu-item"><a routerLink="/offer">My offer</a></li>
                <li class="menu-item"><a routerLink="/recipe">Recipes</a></li>
                <li class="menu-item"><a routerLink="/contact">Contact</a></li>
            </ul> <!-- .menu -->
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header> <!-- .site-header -->