<div id="site-content">
    <app-navbar />

    <main class="main-content">

        <div class="content">
            <div class="container">

                <h2 class="entry-title">Accusamus iusto odio dignissimos ducimus qui blanditiis praesentium deleniti
                    corrupti quos dolores</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. </p>

                <hr>

                <div class="row">
                    <div class="col-md-3">
                        <div class="feature color-purple">
                            <div class="feature-icon"><i class="icon-bowl"></i></div>
                            <h3 class="feature-title">Lorem ipsum</h3>
                            <p>Pellentesque erat erat mattis feugiat pharetra, viverra nec mauris. Nullam sed risus
                                aliquam congue nunc ac convallis mi. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature color-green">
                            <div class="feature-icon"><i class="icon-oil"></i></div>
                            <h3 class="feature-title">Tempora incidunt</h3>
                            <p>Pellentesque erat erat mattis feugiat pharetra, viverra nec mauris. Nullam sed risus
                                aliquam congue nunc ac convallis mi. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature color-pink">
                            <div class="feature-icon"><i class="icon-honey"></i></div>
                            <h3 class="feature-title">Cupidatat proident</h3>
                            <p>Pellentesque erat erat mattis feugiat pharetra, viverra nec mauris. Nullam sed risus
                                aliquam congue nunc ac convallis mi. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature color-orange">
                            <div class="feature-icon"><i class="icon-chocolate"></i></div>
                            <h3 class="feature-title">Aliquam quaerat</h3>
                            <p>Pellentesque erat erat mattis feugiat pharetra, viverra nec mauris. Nullam sed risus
                                aliquam congue nunc ac convallis mi. </p>
                        </div>
                    </div>
                </div>

                <hr>

                <p>Pellentesque erat erat, mattis non feugiat pharetra, viverra nec mauris. Nullam sed risus aliquam,
                    congue nunc ac, convallis mi. <a href="#">Cras pellentesque sit amet urna fermentum ornare</a>. Sed
                    in metus justo. Cras sit amet odio eu enim condimentum pretium vitae nec enim. In aliquet dolor
                    nisl. Proin semper turpis nec posuere consectetur. Vivamus tristique rutrum quam, eu mattis elit
                    semper eget. Sed ultrices, tellus dapibus consectetur porttitor, dui sapien mattis odio, vel
                    imperdiet ipsum risus at risus. Mauris auctor tortor id sollicitudin tincidunt. Integer magna leo,
                    sagittis a congue nec, viverra non mi. Proin dapibus pharetra tristique. Aliquam id lorem metus.
                    Vivamus elit turpis, venenatis eu luctus quis, suscipit eget urna.
                </p>
            </div>
        </div>

    </main> <!-- .main-content -->

    <app-footer />

</div>